<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Edit | PAGE</title>
</head>
<body>
<a href="/products">Back Home</a>
    <h1>Edit Product</h1>
    <img src="<%=product.img%>" alt="<%=product.name%>">
    <form action="/products/<%= product._id %>?_method=PUT"%> method="POST">
        Name: <input type="text" name="name" value="<%= product.name %>"><br>
        
        Desc: <input type="text" name="description" value="<%= product.description %> "> <br>

        Price: <input type="text" name="price" value="<%= product.price %> "> <br>

        QTY: <input type="number" name="qty" value="product.qty %>"> <br>

        <input type="submit" value="Save Changes">
        
    </form>
    
 
</body>
</html>