<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Product | Show</title>
</head>
<body>


    <div class="container">
        <nav>
            <a href="/products"><button>Back to books Index</button></a>
        </nav>

        <div class="showPageCard">
            <h2><%= product.name %></h2>
            <img src=<%= product.img %>>
            <p><%=product.description%></p>
            <p>Price: <%=product.price%></p>
            <p><%=product.qty%> remaining</p>

            <!-- buy button -->
            <button class="buyButton">Buy</button> <br>
            
            <!-- edit button -->
            <a href="/products/<%=product._id; %>/edit"><button class="editButton button-primary">Edit</button></a><br>

            

              <!-- delete button -->
              <form action="/products/<%= product.id %>?_method=DELETE" method="POST" ">
                <input type="submit" value="DELETE" />
            </form>
        </div>

    </div>
   

</body>
</html>